


#grades{
    display: flex;
    justify-content: flex-start;
    grid-area:main;
    flex-wrap:wrap;

}

.gradingSections{
    background-color:mediumaquamarine;
    color:firebrick;
    margin: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.50em;
    grid-row: 1;
    min-width: 200px;

}



.failed{
    background-color: salmon;
    color:firebrick;
    margin: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.50em;
    grid-row: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 12px;
}


#icon {
    background-color:brown;
    font-size: 30px;
    color:white;
    padding:5px;
    max-width: 44.67px;
}


.grid-item-nav, details {
    grid-area:nav;
    background-color: white;
    border-style: solid;
    border-color: blueviolet;
    flex-direction: row;
    line-height: 0.8px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-left: 10px;
}

#top-of-slot{
    flex: 1;
    display: flex;
}

#bottom-of-slot {
    flex: 1;
}

#unit-grade {
    padding-left: 5px;
    padding-top: 20px;
    font-size:  0.5em;
}

details > p {
    padding: 4px;
    padding-top: 10px;
    margin: 5px;
}